@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 289 47% 100%;
    --foreground: 289 50% 3%;
    --muted: 289 39% 85%;
    --muted-foreground: 289 15% 39%;
    --popover: 289 47% 100%;
    --popover-foreground: 289 50% 3%;
    --card: 289 47% 100%;
    --card-foreground: 289 50% 3%;
    --border: 289 9% 92%;
    --input: 289 9% 92%;
    --primary: 289 38% 72%;
    --primary-foreground: 289 38% 12%;
    --secondary: 289 16% 89%;
    --secondary-foreground: 289 16% 29%;
    --accent: 289 25% 82%;
    --accent-foreground: 289 25% 22%;
    --destructive: 8 88% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 289 38% 72%;
    --radius: 1rem;
  }

  .dark {
    --background: 289 50% 2%;
    --foreground: 289 40% 97%;
    --muted: 289 39% 15%;
    --muted-foreground: 289 15% 61%;
    --popover: 289 50% 2%;
    --popover-foreground: 289 40% 97%;
    --card: 289 50% 2%;
    --card-foreground: 289 40% 97%;
    --border: 289 9% 14%;
    --input: 289 9% 14%;
    --primary: 289 38% 72%;
    --primary-foreground: 289 38% 12%;
    --secondary: 289 11% 11%;
    --secondary-foreground: 289 11% 71%;
    --accent: 289 20% 16%;
    --accent-foreground: 289 20% 76%;
    --destructive: 8 88% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 289 38% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}